<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a  class="navbar-brand" href="{% url 'index' %}">BRAND</a>
				<li><a class="nav-item nav-link" href="{% url 'admin:index' %}">ADMIN</a></li>
				<li><a class="nav-item nav-link" href="{% url 'basic:other'%}">Other</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		{% block body_block %}
		<!-- anything outside this will be inherited -->
		{% endblock %}
	</div>
</body>
</html>